# temp. editor backups:
*~

# TEX aux. files
*.bbl
*.blg
*.out
*.log
*.toc
*.aux

# build output:
*/build/*

# the main-and-hot file for flymaple programming
*flymaple/main.cpp

# temporary CMake files
*CMakeCache*
*cmake*
*.bin
*Makefile*
*CMakeCCompilerId.c
*CMakeCXXCompilerId.cpp
*TargetDirectories.txt
*progress.marks
*CXX.includecache
*.make
*depend.internal
*.cpp.o
*link.txt

# built lib
*.a

# ROS built
gnd-ctrl-ros/devel/*
